<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.oops"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <application
        android:name=".Ooops"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory,android:allowBackup"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:theme="@style/AppTheme"
        tools:targetApi="q">

        <activity android:name=".activity.CategoryListActivity"/>
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Episode1"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LanguageOption"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoPlayBack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Downloads"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.Support_Help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LegalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoPlay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoQuality"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StorageLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnterPin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPassword"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.PlayerActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.SubscriptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChangePin"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.VideoPlayerSeries"
            android:screenOrientation="portrait"/>
<activity android:name=".activity.OfflinePlayerActivity"
    android:screenOrientation="landscape"/>
<activity android:name=".activity.EpisodePlayActivity"
    android:screenOrientation="portrait"></activity>
        <service android:name=".Utils.DemoDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>